<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.cvut.cz/earlgrey/annotation/Annotation" 
       class = "cz.cvut.earlgrey.annotation.annotation.AnnotationPackage"
       genModel = "cz/cvut/earlgrey/annotation/Annotation.genmodel" /> 
	
  </extension>





</plugin>
